<section>
    <form 
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()" 
        fxLayout="column" 
        fxLayoutAlign="center center"
        fxLayoutGap="10px">
        <h1>Login</h1>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error *ngIf="loginForm.controls.email.value?.length === 0">
                <span>Field must not be empty </span>
                <mat-icon>announcement</mat-icon>
            </mat-error>
            <mat-error 
                *ngIf="loginForm.controls.email.value?.length != 0 
                        && !loginForm.controls.email.valid">
                <span>Email is not valid</span>
                <mat-icon>announcement</mat-icon>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-hint align="end">
                <span>{{ loginForm.controls.password.value?.length }} / 6</span>
            </mat-hint>
            <mat-error *ngIf="loginForm.controls.password.value?.length < 6">
                <span>Password must be 6 characters long </span>
                <mat-icon>announcement</mat-icon>
            </mat-error>
        </mat-form-field>
        <button 
            type="submit" 
            mat-raised-button color="primary" 
            [disabled]="loginForm.invalid">
            <span>Login</span>
            <mat-icon>login</mat-icon>
        </button>
    </form>
</section>

