<section class="new-training" fxLayout fxLayoutAlign="center">

    <form 
        [formGroup]="newTrainingForm"
        (ngSubmit)="onSubmit()">
        <mat-card fxFlex="600px" fxFlex.lt-sm="350px">
            <mat-card-title>New Training</mat-card-title>
            <mat-card-subtitle>Select an exercise to start with</mat-card-subtitle>

            <mat-card-content>
                <mat-form-field>
                    <mat-label>Exercise type</mat-label>
                    <mat-select formControlName="exercise">
                        <mat-option 
                            *ngFor="let exercise of availableExercises"    
                            [value]="exercise.id">
                            <span>{{ exercise.name }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card-content>

            <mat-card-actions fxLayoutAlign="end">
                <button 
                    type="submit" 
                    mat-raised-button 
                    color="accent"
                    [disabled]="newTrainingForm.invalid">
                    OK! Let's do it
                </button>
            </mat-card-actions>
        </mat-card>
    </form>

</section>