<mat-nav-list>
    <a 
        *ngIf="!isAuth"
        mat-list-item 
        routerLink="/signup" 
        (click)="onClickSidenavItem()">
        <mat-icon class="nav-caption">perm_identity</mat-icon>
        <span>Sign Up</span>
    </a>
    <a 
        *ngIf="!isAuth"
        mat-list-item 
        routerLink="/login" 
        (click)="onClickSidenavItem()">
        <mat-icon class="nav-caption">login</mat-icon>
        <span>Login</span>
    </a>
    <a 
        *ngIf="isAuth"
        mat-list-item 
        routerLink="/training" 
        (click)="onClickSidenavItem()">
        <mat-icon class="nav-caption">fitness_center</mat-icon>
        <span>Trainings</span>
    </a>
    <a 
        *ngIf="isAuth"
        mat-list-item 
        routerLink="/"
        (click)="onClickLogout()">
        <mat-icon class="nav-caption">clear</mat-icon>
        <span>Logout</span>
    </a>
</mat-nav-list>